.changepassword {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(202, 210, 197);
  color: black;
  padding: 2rem;
  border: 1px solid black;
  border-radius: 0.8rem;
}

.changepassword-side {
  height: 100%;
  background-image: linear-gradient(to right, rgb(52, 77, 80), rgb(0, 0, 0));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #cad2c5;
  font-family: helvetica-w01-roman, helvetica-w02-roman, helvetica-lt-w10-roman,
    sans-serif;
}

.btn-login-change {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 35px;

  background-color: #fee999;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid white;
}

.change-me {
  display: flex;
  justify-content: space-around;
  padding-top: 2rem;
}

.password-change {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 2rem;
}

.password-change input {
  border-top-width: 0;
  border-right-width: 0;
  border-left-width: 0;
  border-color: black;
  background-color: rgb(202, 210, 197);
  width: 100%;
}

.password-change input:focus {
  outline: none;
}
