.right-login-side {
  height: 100%;
  width: 50vw;
  background-image: url("../../../assets/image1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  background-size: contain;
}


@media screen and (max-width: 940px) {

  .right-login-side{
    width: 100vw;
  }
    
}